<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 63, 63, fallback: "no_image.jpg",size: "63x63" %>
      <table class="table">
        <tbody>
          <tr>
            <td>name</t>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>introduction</td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div class="row mb-3">
        <%= link_to '' , edit_user_path(current_user) ,class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
      </div>
      <%= render 'templates/post_book',new_book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
         <tr>
           <th></th>
           <th>Title</th>
           <th>Option</th>
         </tr>
        </thead>
        <tbody>
          <% @user.books.each do |book| %>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size: "40x40" %></td>
              <td><%= link_to book.title,book_path(book) %></td>
              <td><%= book.option %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>