<div class="container">
  <% if @book.errors.any? %>
  <h3 class="text-danger"><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
  <% @book.errors.full_messages.each do |message| %>
    <li class="text-danger"><%= message %></li>
  <% end %>
<% end %>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>Editing Book</h2>
    <%= form_with model: @book, local: true do |f| %>
      <div class="field mb-3 form-group">
        <%= f.label :title %></br>
        <%= f.text_field :title,autofocus: true, class: "form-control" %>
      </div>

      <div class="field mb-3 form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body,autofocus: true, class: "form-control"%>
      </div>
        <%= f.submit 'Update Book',class: "btn btn-sm btn-success mb-3" %>
      <% end %>
      <%= link_to 'Show',book_path(@book) %>
      |
      <%= link_to 'Back',books_path %>
      </div>
  </div>
</div>